{% extends 'base.html.twig' %}

{% block body %}

    <!-- ************  Main Title  ************ -->
    <img class="contact-thumbnail image" src="/images/contact-thumbnail.png">

    <!-- ************  Main Title  ************ -->
    <div class="contact-section container-fluid">
        <div class="row">
            
        </div>
    </div>
{% endblock %}