navbar.site-navbar
  width: 100%
  display: block
  background-color: $primary-color
  @extend .shadow-one
  .fa
    color: white
    font-size: 1.3rem
    &.fa-phone
      color: $site-yellow

  .navbar-menu-list
    display: flex
    justify-content: space-around
    align-items: center
    color: white

    .navbar-menu-item
      a
        color: white
      @extend.quick-appear
      &:hover
        background-color: $primary-color-dark

  .navbar-actions
    background-color: $primary-litghed-color

  .navbar-contact
    background-color: $secondary-color
    .phone
      color: $site-yellow