.product-card
  @extend .shadow-hover-two
  cursor: pointer
  padding: 50px
  display: flex
  flex-direction: column
  border-bottom: 2px solid $secondary-color

  .show-more
    @extend .quick-appear
    color: white
    opacity: 0
    background-color: $secondary-color

  .product-card-image-container
    position: relative
    .product-card-image-hover
      @extend .quick-appear
      height: 100%
      width: 100%
      align-items: center
      justify-content: center
      display: flex
      position: absolute
    &:hover
      .show-more
        opacity: 1
      .product-card-image-hover
        background-color: rgba(255, 255, 255, 0.5)

  img.product-card-image
    height: 100%
    width: 100%
    object-fit: contain

  i.fa-star
    color: $secondary-color
    padding: 2px
    &.able
      color: $site-yellow

  .product-card-name
    // color: $primary-color-light
    padding: 5px 0
    border-bottom: 1px solid $secondary-color
  
  .product-card-prices
    font-size: 1.5rem
    
  .product-card-price
    text-decoration: line-through

  .product-card-price-discount
      color: $discount-red
      text-decoration: none

  .blog-card-share
    i
      color: $site-pink

  .keep-reding
    border: 1px solid $primary-color-light
    padding: 10px
    &:hover
      color: white
      background-color: $primary-color-light