<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    	<link href="{{ asset('build/css/app.css') }}" rel="stylesheet">

        <!-- **********  Meta  ********** -->        
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- **********  Styles  ********** -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="app" class="wrapper">

            <!-- **********  Navbar  ********** -->
            {{ include('components/navbar.html.twig') }}
            
            <!-- **********  Site-Content  ********** -->
            <div class="site-content">

                <!-- **********  Body  ********** -->
                {% block body %}{% endblock %}
                    
            </div>

            <!-- **********  Footer  ********** -->
            {{ include('components/footer.html.twig') }}
            
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
