<div class="blog-card-container col-xs-3">
    <div class="blog-card">
        <img src="/images/blog-card-{{ card }}.png">
        <div class="blog-card-content">
            <p class="blog-card-title">
                {{
                    [
                        'De regreso a los años 70 con estos papeles pintados con motivos geométricos a color',
                        'Estilo Boho en Londres',
                        '5 ideas para convertir cajas en muebles y decorar tu casa',
                        'Los nuevos cojines de ponlobonito.com'
                    ][(card-1)]
                }}
            </p>
            <p class="blog-card-brief">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>
            <div class="blog-card-share flex between-xs middle-xs">
                <div class="share">
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-pinterest"></i>
                    <i class="fa fa-twiter"></i>
                </div>
                <button class="keep-reding">Seguir Leyendo</button>
            </div>
        </div>
    </div>
</div>