<footer class="footer container-fluid">
    <div class="container">
        <div class="site-footer row xs-around">
            <ul class="col-xs-2 footer-list">
                <li>Atencion a Clientes</li>
                <li>Tel; (33) 3827 5212</li>
                <li>Lunes a Viernes de 9 am a 6 pm</li>
                <li>Terminos y Condiciones</li>
                <li>Preguntas Frecuentes</li>
                <li>contacto@ponlobonito.com</li>
                <li>Aviso de privacidad</li>
            </ul>
            <ul class="col-xs-2 footer-list">
                <li>Como comprar</li>
                <li>Paso A Paso</li>
                <li>Proceso de Compra</li>
            </ul>
            <ul class="col-xs-2 footer-list">
                <li>Entregas</li>
                <li>Guadalajara</li>
                <li>Monterrey</li>
                <li>México</li>
            </ul>
            <ul class="col-xs-2 footer-list">
                <li>Productos</li>
                <li>Cojines</li>
                <li>Sillones</li>
                <li>Decoración</li>
            </ul>
            <ul class="col-xs-2 footer-list">
                <li>Siguenos</li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-facebook"></i></li>
            </ul>
        </div>
    </div>
    <div class="site-subfooter row">
        <p>Todos los derechos reservados Ponlobonito.com ©</p>
    </div>
</footer>