<navbar class="site-navbar">
    <div class="sales">
        <button type="button" class="sales">
            PROMOCIONES
        </button>
    </div>
    <div class="navbar-menu">
        <ul class="navbar-menu-list">
            <li class="navbar-menu-item">Cojin</li>
            <li class="navbar-menu-item">Sillones</li>
            <li class="navbar-menu-item">Decoracion</li>
            <li class="navbar-menu-item">Lanzamiento</li>
            <li class="navbar-menu-item">Blog</li>
            <li class="navbar-menu-item">Contacto</li>
        </ul>
    </div>
    <div class="actions-n-contact flex">
        <div class="navbar-actions">
            <button class="search">
                <i class="fa fa-search"></i>
            </button>
            <button class="user">
                <i class="fa fa-user"></i>
            </button>
            <button class="chart">
                <i class="fa fa-shopping-cart"></i>
            </button>
        </div>
        <div class="navbar-contact">
            <button class="instagram">
                <i class="fa fa-instagram"></i>
            </button>
            <button class="facebook">
                <i class="fa fa-facebook"></i>
            </button>
            <button class="phone">
                <i class="fa fa-phone"></i>
                (33) 3827 5212
            </button>
        </div>
    </div>
</navbar>